* {
  padding: "0";
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: #202029;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  border-bottom: 0.25px solid white;
}

.navbar-container ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.navbar-container ul li {
  display: flex;
  list-style: none;
  color: blue;
}

.navbar-container ul li a {
  text-decoration: none;
}

.logo-image {
  height: 40px;
  width: auto;
}

.home-container {
  background-color: #1f1d2c;
  padding: 30px 50px;
}

/* Genre page */
.genre-name {
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
.genre-container h3 {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  line-height: 150%;
  padding: 5px 0;
}
.genre-container h2{
  font-size: 30px;
	color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.genre-buttons {
  background-color: #1f1d2c;
  padding: 30px 0;
  justify-content: center;
}
.genre-buttons ul {
  padding-left: 0;
  display: flex;
  gap: 30px;
  list-style: none;
  justify-content: center;
}
.genre-buttons ul li {
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
}
.genre-buttons ul li a {
  text-decoration: none;
  font-size: large;
}
.link-active {
  background-color: #100749;
}
.link-active a {
  background-color: #100749;
}

.movies {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movie-container {
  height: 500px;
  width: 330px;
  margin: 20px 0;
  background: #575757;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #888888;
}
.movie-title-container h2{
  font-size: 30px;
	color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.movie-image {
  border-radius: 20px 20px 0 0;
}
.movie-image img {
  height: 400px;
  width: 330px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-info {
  height: 200px;
  border-radius: 20px;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.movie-info h3,
.movie-info p {
  padding-left: 10px;
  align-self: start;
}

.movie-item-container {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  justify-content: center;
}
